<launch>

  <arg name="params_file" default="$(find mqtt_client)/config/params.yaml" />
	<arg name="respawn_mavros" default="false" />
  <node pkg="nodelet" type="nodelet" name="mqtt_client" args="standalone mqtt_client/MqttClient" respawn="$(arg respawn_mavros)" output="screen">
    <rosparam command="load" file="$(arg params_file)" />
  </node>

</launch>
